#lab {
	background-color: yellow;
	padding-bottom: 30px;
	margin-bottom: -16px;
}
#es {
	background-color: red;
	padding-bottom: 30px;
	margin-bottom: -16px;
}
#T {
	background-color: yellow;
	padding-bottom: 30px;
	margin-top: -16px;
}