div{
	padding: 0px 4px 0px;
	margin: 10px 4px 0px 10px;
	display: inline;
	text-align: center;
}
.Lab {
	background-color: yellow;
	
}
#es {
	background-color: red;
	

}
#T {
	background-color: yellow;
	
}